:root {
    --bg-main: #202021; 
    --bg-header: #505256; 
    --card-bg: #505256; 
    --card-shadow: rgba(0, 0, 0, 0.7);
    --input-bg: #171717;
    --input-border: #8A2BE2;
    --input-placeholder: #dddddd; 
    --btn-submit-bg: #393440; 
    --btn-cancel-bg: #393440; 
    --text-color: #FFFF; 
    --title-color: #FFFF; 
    --notes-color: #FFFF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--bg-main);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    
    background-image: url('../img/music_notes_bg1.png'), url('../img/music_notes_bg2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center; 
    background-size: 596px auto, 596px auto;
}

.cadastro-container {
    width: 100%;
    max-width: 7000px; 
    position: relative;
    top: -60px; 
}

.page-title {
    position: absolute;
    top: -40px; 
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--bg-header);
    color: var(--card-bg); 
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 2px solid var(--bg-header); 
}

.form-card {
    background-color: var(--card-bg);
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: 0 20px 25px var(--card-shadow);
    width: 750px;
    height: auto; 
    min-height: 400px;
    max-width: 720px; 
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 10; 
}

.card-title {
    color: var(--title-color);
    font-size: 1.2em;
    margin-bottom: 50px;
    font-weight: 400; 
    letter-spacing: 1px;
}

.input-group {
    margin-bottom: 20px;
}

.corista-form input[type="text"],
.corista-form input[type="password"],
.corista-form input[type="email"],
.corista-form input[type="date"],
.corista-form input[type="time"],
.corista-form select {
    width: 100%;
    padding: 12px 15px;
    background-color: var(--input-bg);
    color: var(--text-color);
    
    border: 2px solid #8A2BE2; 
    
    border-radius: 20px;
    outline: none;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.corista-form input:focus, 
.corista-form select:focus {
    border-color: #a65ce6; 
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.5);
}

.corista-form input::placeholder {
    color: var(--input-placeholder);
    opacity: 0.8; 
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    width: 45%; 
    transition: background-color 0.3s, box-shadow 0.3s;
    color: var(--text-color);
}

.btn-submit {
    background-color: var(--btn-submit-bg);
}

.btn-cancel {
    background-color: var(--btn-cancel-bg);
}

.btn:hover {
    background-color: #8A2BE2; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}